@import "index.scss";

.baner {
    background: url("../assets/image/baner.jpg");
    background-color: $width;
    opacity: 80%;
    height: 70vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -75px;
    z-index: -100;
}
.slogan {
    position: absolute;
    top: 25%;
    left: 25%;
    width: $width;
    color: $color_descripttion;
    h2 {
        font-family: $font_title;
        text-align: left;
        color: #0c0c0c;
        font-size: 3em;
        z-index: 1;
        margin: 10px 0;
    }
    p {
        font-family: $font_basic;
        font-weight: 500;
        color: $color_secend;
        font-size: 2em;
    }
}

#brand {
    @include input;
    @include style_triangle;
}
option {
    text-align: center;
    margin: 0 auto;
}
.carSearch {
    max-width: $width;
    width: 70vw;
    margin: 0 auto 40px auto;
    text-align: center;
    display: block;
    background: $color_white;
    box-shadow: 0px 5px 15px $color_third;
    position: relative;
    top: -125px;
}
.placeholder {
    padding-right: 10px;
    font-size: 1.6em;
    font-family: $font_title;
    font-weight: 900;

}
p {
    @include font_description;
}
#carsList {
    max-width: $width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -75px;
}
.car {
    position: relative;
    border: $border_main;
    width: 350px;
    height: 465px;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    .car-year,
    .car-km {
        text-align: left;
        margin: 0 0 0 15px;
    }

}
hr {
    margin: 10px 10px 20px 10px;
    background-color: $color_third;
    border: none;
    height: 1px;
}
.car-photo {
    @include img_car_list;

}
.car-name {
    @include font_H2_span;
    font-family: $font_basic;
    font-weight: 500;
    padding: 0.5em 0;
    margin: 0 0 0 15px;
    .description {
        padding: 0;
        margin: 0;
    }
}

.car-price {
    @include button;
    @include link;
    color: $color_secend;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 101;
    position: relative;
}
.car-price:hover {
    @include button-orange-white;
}

  .tabCar {
    width: 350px;
    height: 475px;
    display: block;
    position: absolute;
    &:hover{
        background-color: $color_secend;
        opacity: 0.30;
        width: 350px;
        height: 263px;

    }

}
@media only screen and (max-width: 1200px) {
    #carsList {
        justify-content: space-around;
        width: 85%;
    }
}
@media only screen and (max-width: 992px) {
    .baner {
        height: 50vh;
    }
    .slogan {
        position: absolute;
        top: 25%;
        left: 15%;
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    #brand {
        width: 40vw;
    }
    .placeholder {
        font-size: 1.2em;
        text-align: center;
        padding-right: 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: center;
    }
    #carsList {
        justify-content: space-around;
        width: 85vw;
    }

}
@media only screen and (max-width: 768px) {
    #app {
        position: relative;
        top: 50px;
    }

    .baner {
        height: 40vh;
    }

    .slogan {
        display: none;
    }
    .placeholder {
        font-size: 1.2em;
        text-align: center;
        padding-right: 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: center;
    }
    .carSearch {
        width: 80vw;
    }
    #carsList {
        justify-content: center;
        width: 80vw;
    }
}
