@import "index.scss";
.listCar {
    width: 70vw;
    margin: 0 auto;
}


.car-name-chosse {
    @include font_H2_span;
    font-family: $font_title;
    margin: 50px 0;
}

#expandedImg {
    width: 50vw;
    height: auto;
    margin-right: 30px;
}
.all_car_photo {
    display: flex;
    justify-content: flex-start;
    height: auto;
}

.sumPhoto {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    max-width:  50vw;;
}

    .overlay{
    background: $color_secend;
    width: 11vw;
    height: 9vw;
}
   .overlay img {
        width: 11vw;
        height: 9vw;
        opacity: 1;
        transition: .3s ease-in-out;
    }
   .overlay img:hover{
        opacity: 0.6;
    }

.description {
    @include font_H2_span;
    font-family: $font_title;
    font-weight: 500;
    margin: 50px 0 20px 0;
    width: 70vw;
}
.ditels {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.car-price-1 {
    @include button-orange-white;
    margin-bottom: 20px;
}
.car-details {
    display: flex;
    flex-direction: column;
}

.ditels div p:last-child {
    font-size: 1.5em;
    color: $color_secend;
}
#car-buy {
    @include button;
    @include link;
    color: $color_secend;
    text-align: center;
    text-decoration: none;
}
#car-buy:hover {
    @include button-orange-white;
}
.back {
    @include font_description;
    text-decoration: none;
    margin: 50px 0 20px 0;
    display: block;
}

@media only screen and (max-width: 992px) {
    .sumPhoto {
        justify-content: flex-start;
        margin-top: 0;
        flex-direction: column;

        .overlay{
            width: 15vw;
            height: 13vw;
        }
           .overlay img {
                width: 15vw;
                height: 13vw;

            }
    }
    .all_car_photo {
        flex-direction: column;
    }
    .car-details {
        flex-direction: row;
        justify-content: space-between;
    }
    .car-km{
        margin-right: 50px;
    }

    #content {
        display: flex;
        justify-content: space-between;
    }
    #car-buy {
        margin-top: 50px;
    }
  .destription_allion{
      display: block;
  }

}
@media only screen and (max-width: 768px) {
    .sumPhoto {
        display: none;
    }
    .back {
       position: relative;
       top: -20px;
    }
    .car-photo_1 {
        width: 70vw;
       }
       #content {
        display: block;

    }
}
